p {{info.$value}}
div(class="row")
  div(class="well col-md-12")
div(class="row")
  div(class="well col-md-2")
  div(class="well col-md-8")
    div(id="chart")
  div(class="well col-md-2")
div(class="row")
  div(class="well col-md-12")
